# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/WebScraper/x64/Debug
/WebScraper/vcpkg_installed/x64-windows
/Dependencies/Tidy
/x64/Debug
/.vs/WebScraper/v17
*.filters
/.vs/WebScraper/FileContentIndex
/Dependencies
